<div class="sidebar" style="height: 89vh !important;">
    <div class="row">
      <div class="profile-image">
      </div>
      <% if(adminUser) { %>
      <h4><%= adminUser %> </h4>
      <% } %>
    </div>
    <div class="icons" style="margin-top: -14px !important;">
      <a href="/dashboard" class="awitem"><i class="fas fa-desktop"><span>Dashboard</span></i></a>
      <a href="/categories" class="awitem"><i class="fas fa-th"><span>Categories</span></i></a>
      <a href="/packages" class="awitem"><i class="fas fa-tasks"><span>Packages</span></i></a>
      <a href="/booking_details" class="awitem"><i class="fas fa-list-alt current"><span>Manage Booking</span></i></a>
      <a href="/enquiry" class="awitem"><i class="fas fa-file-alt"><span>Manage Enquiries</span></i></a>
    </div>

  </div>