<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/destinations.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
 
</head>

<body>


  <input type="checkbox" id="check">

  <!-- Navbar -->

  <%- include('header.ejs') %>

  
  <div class="nav-bar">
    <div class="nav-bar-item">
      <h1>Destination Category</h1>
      <ul style="display: flex; flex-direction: row;">
        <li><a href="/dashboard">home</a></li>
        <li><a><i class="fas fa-arrow-right" style="font-size: 0.9rem; color: antiquewhite; padding: 0px 5px;"></i></a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a><i class="fas fa-arrow-right" style="font-size: 0.9rem; color: antiquewhite; padding: 0px 5px;"></i></a></li>
        <li><a href="/categories/destinations">Destination Category</a></li>
      </ul>
    </div>
  </div>

  <%- include('sidebar.ejs') %>
  
  <div class="travel-container">
    <div class="content-box">
        <div class="card">
            <div class="front">
                <div class="card-left">
                    <a href="/categories/destinations/addDestinationCategory"><i class="fas fa-plus"></i></a>
                </div>
                <div class="card-right">
                    <a href="/categories/destinations/addDestinationCategory">Add New Category</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="card-left">
                    <a href="/categories/destinations/viewDestinationCategory"><i class="fas fa-eye"></i></a>
                </div>
                <div class="card-right">
                    <a href="/categories/destinations/viewDestinationCategory">View All Categories</a> 
                </div>
            </div>
        </div>
    </div>

  </div>



<script src="../public/javascripts/script.js"></script>
</body>

</html>