<header>

    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>

    <div class="left">
      <h1>WeTravel</h1>
    </div>
    <div class="right">
      <a href="/index" class="nav"><i class="fas fa-home"></i></a>
      <a href="/logout" class="logout_btn"><i class="fas fa-sign-out-alt"></i></a>
    </div>

  </header>


  