 
 <!-- footer -->
  <section id="footer">
    <div class="footer-content">
      <div class="left">
        <h2>HOLIDAY TOUR & TRAVELS</h2>
        <p>World's leading tour and travels Booking website,Over 30,000 packages worldwide</p>
      </div>
      <div class="mid-left">
        <h2>ADDRESS & CONTACT INFO</h2>
        <p>103,Dev Appartment, Vanmali Park Society,Samarvarni,Silvassa, Dadra & Nagar Haveli- 396230</p>
        <h2>PHONE: +101-1231-1231</h2>
      </div>
      <div class="mid-right">
        <h2>SUPPORT & HELP</h2>
        <div class="mid-right-content">
        <div class="left-content">
          <a href="#">About Us</a>
          <a href="#">Feedbacks</a>
          <a href="#">Use Cases</a>
          <a href="#">Discount</a>
          <a href="#">Branding Offers</a>
        </div>
        <div class="right-content">
          <a href="#">FAQ</a>
          <a href="#">Blog</a>
          <a href="#">Advertise Us</a>
          <a href="#">Vacations</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
      </div>
      <div class="right">
        <h2 style="padding-top: 2.6rem !important">FOLLOW WITH US</h2>
        <p>Join the thousands of other There are many variations of passages of Lorem Ipsum available</p>
        <div class="footer-icons" style="display: flex; flex-direction: row; ">
          <a href="#"><i class="fas fa-envelope"></i></a>
          <a href="#"><i class="fas fa-google-plus-g"></i></a>
          <a href="#"><i class="fas fa-twitter"></i></a>
          <a href="#"><i class="fas fa-linkedin-in"></i></a>
          <a href="#"><i class="fas fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <h1 class="text-center" style="margin-top: 80px;">Copyright &copy; WE<span style="color: #10d5e2;">TRAVEL</span> |All Rights Reserved.</h1>
  </section>