 <!-- Testimonials -->

 <section id="testimonials">
    <div class="test-container">
      <div class="left">
        <h2>TIPS BEFORE TRAVEL</h2>
        <div class="top">
          <div class="icon">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="content">
            <h2>Bring copies of your passport</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam!</p>
          </div>
        </div>
        <div class="mid">
         <div class="icon">
           <i class="fas fa-edit"></i>
         </div>
         <div class="content">
           <h2>Register with your embassy</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum!</p>
         </div>
        </div>
        <div class="bottom">
         <div class="icon">
           <i class="fas fa-rupee-sign"></i>
         </div>
         <div class="content">
           <h2>Always have local cash</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam!</p>
         </div>
        </div>
      </div>
      <div class="right">
        <div class="upper">
          <h2>CUSTOMER TESTIMONIALS</h2>
          <div class="testcontents">
            <div class="profileimg">
 
            </div>
            <div class="contents">
              <h2>Kalki</h2>
              <p>Ut sed sem quis magna ultricies lacinia et sed tortor. Ut non tincidunt nisi, non elementum lorem. Aliquam gravida sodales
               Illinois, United States of America</p>
            </div>
          </div>
        </div>
        <div class="down">
          <h2>ARRANGEMENT & HELPS</h2>
          <div class="content-boxes">
           <a href="#" style="background-color: green;"><i class="fas fa-map-marker-alt"></i><span>Location Manager</span></a>
           <a href="#" style="background-color: purple;"><i class="fas fa-map-signs"></i><span>Private Guide</span></a>
           <a href="#" style="background-color: red;"><i class="fas fa-bed"></i><span>Arrangements</span></a>
           <a href="#" style="background-color: orange;"><i class="fas fa-calendar-alt"></i><span>Events and Activities</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>