*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(39 36 34);
    position: fixed;
    display: flex !important;
    align-items: center;
    width: 100%;
}

.left{
    display: block;
    margin: 16px;
    width: 25%;
}

.left h1{
    font-size: 2rem;
    margin-left: 76px;
    color: #ff2a00;
    font-weight: bold;
    font-family: sans-serif;
    
}

.right{
    display: flex;
    flex-direction: row;
    margin: 16px;
    width: 16%;
    margin-left: 69rem;
}


.right .nav{

    font-size: 1.2rem;
    
    color: #464040;
    background-color: yellow;
    border-radius: 5px;
   
    margin-right: 2rem;
    padding: 8px 12px;
    transition: .5s;
    transition-property: background-color;
}

.right .nav:hover {
    color: white;
    background-color: #31ff00;
}

.right .logout_btn{
    background-color: blue;
    padding: 8px 12px;
   
    color: white;
    border-radius: 5px;
   
    
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
    transition-property: background;
}

.right .logout_btn:hover{
    
    background: rgb(255 14 14);
}


.nav-bar{
    width: 74%;
    position: fixed;
    margin-left: 391px;
    margin-top: 82px;
    box-shadow: 2px 2px 10px black;
    background-color:  #143e3b;
    transition: 0.5s;
    transition-property: margin-left,width;
}

.nav-bar .nav-bar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.nav-bar .nav-bar-item h1{
    padding: 4px 10px;
    color: #e2dddd;
    font-size: 2em;
    font-family: auto;
}

.nav-bar .nav-bar-item ul{
    padding: 4px 10px;
}

.nav-bar .nav-bar-item ul li{
    list-style: none;
}

.nav-bar .nav-bar-item ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #f3c82e;
}

.nav-bar .nav-bar-item ul li a:hover{
    color: white;
}



.sidebar{
    width: 25%;
    height: 100vh;
    background-color: rgb(53, 47, 47);
    position: fixed;
    left: 0;
    display: flex !important;
    margin-top: 78px;
    padding-top: 30px;
    flex-direction: column;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .row .profile-image{
    background: url(../images/profile.png) no-repeat center center/cover;
    height: 100px;
    width: 100px;
    outline: none;
    margin-left: 9rem;
    border: none;
    margin-top: 1rem;
    border-radius: 100px;
  
}

.sidebar .row h4{
    margin-top: 1.5rem;
    padding-left: 9.7rem;
    margin-bottom: 1.7rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.icons{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transition-property: margin-top;
}

.icons .awitem{
  
    font-size: 1.1rem;
    
}



.icons a .fas{
    color: white !important;
    line-height: 25px;
    padding: 23px;
    width: 100%;
    border-radius: 5px;
    padding-left: 7.1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: .5s;
    transition-property: background-color,border;
}

.icons a .current,.icons a .fas:hover{
  
    border: 2px solid #dad3d3;
    background-color:#63b18b;
}

.icons .awitem .fas span{
    margin-left: 1.1rem;
} 




label #sidebar_btn{
    color: white;
    position: fixed;
    font-size: 26px;
    z-index: 1;
    left: 407px;
    top: 24px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: margin-left;
}

label #sidebar_btn:hover{
    color: #11efef;
}


.travel-container{
    position: fixed;
    width: 74%;
    height: 71vh;
    overflow-y: scroll;
    margin-left: 391px;
    background-color: #e66107;
    z-index: -1;
    margin-top: 197px;
    transition: 0.5s;
    transition-property: width,margin-left;
}

.travel-container .nav-link{
    color: #efefef;
    position: fixed;
    text-decoration: none;
    display: inline-block;
    padding: 0px 8px;
    margin-left: 52rem;
    width: 14rem;
    margin-top: 12px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.5s;
    transition-property: margin-top,margin-left;
}

.travel-container .nav-link:hover{
    color: #302c33;
}

.travel-container .form-container{
       padding: 56px;
       margin-top: -22px;
}

.travel-container .form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
}

.travel-container .form-container form .form-group {
     margin-bottom: 0rem !important;
}


.travel-container .form-container form .form-group label{
    color: white;
    margin-top: 0rem;
    font-weight: bold;
    font-size: 0.9rem;
    /* width: 0rem; */
}

.travel-container .form-container form .form-group input{
    color: rgb(17, 16, 16);
    font-weight: bold;
    font-size: 0.9rem;
}


.form-input{
    margin-top: 15px;
    transition: 0.5s;
    transition-property: margin-top;
}

.travel-container .form-container form .form-group .img{
    margin-top: 18px;
    transition: 0.5s;
    transition-property: margin-top;
}

.travel-container .form-container form .form-group .button{
    margin-top: 0px;
}

.travel-container .form-container form .form-group .button .btn{
    font-weight: bold;
    padding: 2px 12px;
    margin-left: 40rem;
    margin-top: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #312f2f;
    outline: none;
    transition:0.5s;
    transition-property:margin-top,margin-left;
}



#check:checked~ .sidebar{
    left: -320px;
}

#check:checked ~ .sidebar .icons{
    
    margin-top: -220px;
   
}

#check:checked ~ .sidebar .icons .awitem span{
    display: none;
}

#check:checked ~ .sidebar .icons .awitem .fas{
    font-size: 25px;
    margin-left: 220px;
    width: 160px;

}


#check:checked ~ .nav-bar{
    margin-left:69px;
    width:95%;
}

#check:checked ~ .travel-container{
    margin-left:69px;
    width:95%;
   
}

#check:checked ~ .travel-container .nav-link{
    margin-left:70rem;
    margin-top:3rem;
}

#check:checked ~ .travel-container .form-container form .form-group .form-input{
    margin-top: 1rem;
}

#check:checked ~ .travel-container .form-container form .form-group .img{
    margin-top:10px;
}

#check:checked ~ .travel-container .form-container form .form-group .button .btn{
    margin-top:3rem;
    margin-left:0.1rem;
}


#check{
    display: none;
}