*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */

header{
width: 100%;
  height: 61px;
  background-color: #292626;
}

header .navbar-header{
display: flex;
flex-direction: row;
align-items: center;
width: 15rem;
height: 61px;
margin-left: 79rem;
position: right;
justify-content: center;
}

header .navbar-header h1{
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 1.2rem;
  padding-right: 15px;
}

header .navbar-header a{
display: flex;
align-items: center;
padding-top: 5px;
font-size: 1.1rem;
color: white;
font-weight: bold;
text-transform: uppercase;
}

header .navbar-header a i{
font-size: 1.9rem;
color: white;
border-radius: 5px;
}


/* navbar */


#nav-bar{
display: flex;
width: 100%;
justify-content: center;
position: sticky;
background: linear-gradient(185deg, #d2cfd2, #3e322efc);
}


#nav-bar .logo{
height: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 70px;
  border-radius: 23px;
}

#nav-bar .logo h1{
color: #fbf9f9;
font-weight: bold;
text-transform: uppercase;
font-size: 1.8rem;
text-shadow: 1px 1px 2px #1f1b1b;
  padding: 17px 12px;
}

#nav-bar .logo h1 span{
color: #10d5e2 !important;
font-weight: bold;
text-transform: uppercase;
font-size: 1.8rem;
text-shadow: 1px 1px 2px #544848;
padding: 17px 4px;
}


#nav-bar .nav{
height: 70px;
  width: 74%;
  background-color: #33353a;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 23px;
}


#nav-bar .nav ul{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
}


#nav-bar .nav ul li{
list-style: none;
padding: 5px 27px;
padding-top: 23px;
}

#nav-bar .nav ul li:hover{

border-left:2px solid white;
border-right: 2px solid white;
}

#nav-bar .nav ul li a{
color: white;
font-size: 1.2rem;
font-weight: bold;
}

#nav-bar .nav ul li a:hover{
color: #fde105;
}



.current{
color:  #fde105 !important;
text-decoration: underline;
}

.current:hover{
color: none !important;

}

.active{
border-left:2px solid white;
border-right: 2px solid white;
}


/* page-header */

#page-header{
display: flex;
justify-content: center;
width: 100%;
background:url('../images/travel_bg1.jpg') no-repeat center center/cover;
}

#page-header .heading{
padding: 76px 0px;
padding-bottom: 42px;
}


#page-header .heading h1{
color: #eef5f4;
text-shadow: 1px 1px 2px black;
font-family: 'Sansita Swashed', cursive;
}


/* Page-Content */

#page-content{
width: 100%;
padding: 18px;
}



#page-content .hotel-container .hotel-cards{
  padding: 10px;
  margin: 68px 123px;
}

#page-content .hotel-container .hotel-cards .card{
  position: relative;
  width: 100%;
  height: 21.3rem;
  border-radius: 5px;
  outline: none;
  margin-bottom: 4rem;
  box-shadow: 2px 2px 5px black;
}

#page-content .hotel-container .hotel-cards .card .offer{
  position: absolute;
  margin-left: 72.5rem;
  z-index: 1;
  margin-top: -1px;
  }
  
  #page-content .hotel-container .hotel-cards .card  .offer li{
  
list-style: none;
  
display: flex;
  
flex-direction: column;
  
align-items: center;
  
justify-content: center;
  
background: linear-gradient(45deg, #a05757, #1d34dac2);
  
border-radius: 0px 5px 0px 5px;
  
height: 6rem;
  
padding: 7px;
  }
  
  #page-content .hotel-container .hotel-cards .card .offer li a{
  
color: #ffeded;
  
font-weight: bold;
  
font-size: 1.1rem;
  
margin-bottom: 4px;
  }
  
  #page-content .hotel-container .hotel-cards .card  .offer li span{
  
color: #ffeded;
  
font-weight: bold;
  
font-size: 1.5rem;
text-transform: uppercase;
  }
  


#page-content .hotel-container .hotel-cards .card .card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



#page-content .hotel-container .hotel-cards .card .card-container .image{
position: relative;
}

#page-content .hotel-container .hotel-cards .card .card-container .image img{
  width: 23rem;
  position: absolute;
  height: 337px;
  padding: 5px;
  border-radius: 8px;
}

#page-content .hotel-container .hotel-cards .card .card-container .image h2{
  position: absolute;
  color: #fbf1ec;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 12px;
  margin-left: 17px;
  z-index: 1;
}

#page-content .hotel-container .hotel-cards .card .card-container .image h3{
position: absolute;
color: white;
font-size: 1rem;
font-weight: bold;
margin-top: 17.9rem;
margin-left: 11rem;
width: 11rem;
box-shadow: 1px 1px 1px black;
text-align: center;
padding: 7px;
border-radius: 13px;
background-color: #1c1c1f;
z-index: 1;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#page-content .hotel-container .hotel-cards .card .card-container .card-content .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34rem;
  margin-top: 26px;
  margin-right: 58px;
  padding: 29px 22px;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .content h1{
  color: #1b1818;
  font-size: 1.8rem;
  padding-bottom: 12px;
  font-weight: bold;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .content li{
  display: flex;
  flex-direction: row;
}


#page-content .hotel-container .hotel-cards .card .card-container .card-content .content li a{
  color: #5f5959;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .content li span .fas{
  width: 2.4rem;
  margin-top: 7px;
  font-weight: bold;
  font-size: 1.4rem;
  color:#1515ea;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price{
  margin-top: 124px;
  margin-right: 57px;
  display: flex;
  flex-direction: column;
  width: 12rem;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.6rem;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price li a{
  color: red;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5rem;
  text-shadow: 1px 1px 1px black;
  text-transform: none;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price li span{
  font-size: 0.9rem;
  color: #846b6b;
  font-weight: bold;
  text-shadow: 0.4px 0.4px 0.4px black;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price h1{
  text-align: center;
  margin: 1px 0px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2.3rem;
  color: #4e4141;
  text-shadow: 1px 1px 1px black;
}

#page-content .hotel-container .hotel-cards .card .card-container .card-content .price a{
font-weight: bold;
font-size: 1.4rem;
text-transform: uppercase;
width: 10rem;
margin-left: 1rem;
}



/* Testimonials */

#testimonials{
background-color: rgb(37 156 208);
width: 100%;
padding: 18px;
padding-bottom:87px;
}


#testimonials .test-container{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 6rem;
padding: 0px 77px;
}

#testimonials .test-container .left{
display: flex;
flex-direction: column;
margin-right: 158px;
}


#testimonials .test-container .left h2{
color:  #271b1f;
font-weight: bold;
padding-bottom: 30px;
}

#testimonials .test-container .left .top{
display: flex;
flex-direction: row;
}

#testimonials .test-container .left .top .icon i{

font-size: 8rem;

width: 8rem;

margin-right: 26px;
}

#testimonials .test-container .left .top .content{
display: flex;
flex-direction: column;
}

#testimonials .test-container .left .top .content h2{
color: white;
font-size: 1.4rem;
}

#testimonials .test-container .left .top .content p{
color: white;
margin-top: -25px;
}



#testimonials .test-container .left .mid{
display: flex;
flex-direction: row;
margin-top: 3rem;
}

#testimonials .test-container .left .mid .icon i{

font-size: 7rem;

width: 8rem;

margin-right: 26px;
}

#testimonials .test-container .left .mid .content{
display: flex;
flex-direction: column;
}

#testimonials .test-container .left .mid .content h2{
color: white;
font-size: 1.4rem;
}

#testimonials .test-container .left .mid .content p{
color: white;
margin-top: -25px;
}

#testimonials .test-container .left .bottom{
display: flex;
flex-direction: row;
margin-top: 3rem;
}

#testimonials .test-container .left .bottom .icon i{
font-size: 8rem;
width: 8rem;
margin-right: 26px;
}

#testimonials .test-container .left .bottom .content{
display: flex;
flex-direction: column;
}

#testimonials .test-container .left .bottom .content h2{
font-size: 1.4rem;
color: white;
}

#testimonials .test-container .left .bottom .content p{
margin-top: -25px;
color: white;
}



#testimonials .test-container .right{
display: flex;
flex-direction: column;
}


#testimonials .test-container .right .upper{
display: flex;
flex-direction: column;
}

#testimonials .test-container .right .upper h2{
color:  #271b1f;
font-weight: bold;
padding-bottom: 1rem;
}

#testimonials .test-container .right .upper .testcontents{
display: flex;
flex-direction: row;
padding-bottom: 2rem;
}

#testimonials .test-container .right .upper .testcontents .profileimg{
background: url('../images/about.png') no-repeat center center/cover;
width: 100px;
height: 60px;
border-radius: 60px;
margin-right: 2rem;
}

#testimonials .test-container .right .upper .contents{
display: flex;
flex-direction: column;
}

#testimonials .test-container .right .upper .contents h2{
color: white;
font-weight: bold;
}


#testimonials .test-container .right .upper .contents p{
color: white;
margin-top: -9px;
}



#testimonials .test-container .right .down{
display: flex;
flex-direction: column;
}

#testimonials .test-container .right .down h2{
color: #271b1f;
font-weight: bold;
padding-bottom: 1rem;
}

#testimonials .test-container .right .down .content-boxes{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 21px;
}

#testimonials .test-container .right .down .content-boxes a {
display: flex;
flex-direction: row;
justify-content: space-between;
text-decoration: none;
padding: 16px 16px;
border-radius: 5px;
box-shadow: 2px 2px 10px black;
}

#testimonials .test-container .right .down .content-boxes a i{
color: white;
font-size: 1.8rem;
}


#testimonials .test-container .right .down .content-boxes a span{
color:#fff5f5;
font-weight: bold;
font-size: 1.4rem;
text-shadow: 1px 1px 2px black;
}







/* footer */

#footer{
position: relative;
background-color: #000000;
width: 100%;
display: flex;
padding: 27px;
flex-direction: column;
justify-content: center;
align-items: center;
/* height: 300px; */
padding-bottom: 2px;
}

#footer .footer-content{

/* display: flex; */

display: grid;

grid-template-columns: 1fr 1fr 1fr 1fr;

grid-gap: 98px;

padding: 10px 6px;

margin-bottom: 2rem;
}

#footer .footer-content .left{

display: flex;

flex-direction: column;

justify-content: center;

/* align-items: center; */

width: 17rem;
}

#footer .footer-content .left h2{

color: white;

font-size: 1.3rem;
}

#footer .footer-content .left p{

color: #6d6161;

text-align: justify;

padding-top: 22px;
}

#footer .footer-content .mid-left{

display: flex;

flex-direction: column;

justify-content: center;

/* align-items: center; */

width: 17rem;

margin-top: 2rem;
}

#footer .footer-content .mid-left h2{

color: white;

font-size: 1.3rem;
}

#footer .footer-content .mid-left p{

color: #6d6161;

text-align: justify;

padding-top: 22px;
}

#footer .footer-content .mid-right{

display: flex;

flex-direction: column;

justify-content: center;


}

#footer .footer-content .mid-right h2{

color: white;

font-size: 1.3rem;

display: block;



margin-top: -7rem;

padding-top: -23px;


}

#footer .footer-content .mid-right .mid-right-content{
display: flex;
flex-direction: row;
padding-top: 93px;
/* margin-top: -2rem; */
position: absolute;
/* margin-top: -10px; */
}

#footer .footer-content .mid-right .mid-right-content .left-content{
display: flex;
flex-direction: column;
margin-right: 13px;
/* width: 8rem; */
}

#footer .footer-content .mid-right .mid-right-content .left-content a{
color: #6d6161;
text-decoration: none;
font-size: 1.1rem;
}

#footer .footer-content .mid-right .mid-right-content .left-content a:hover{
color: white
}


#footer .footer-content .mid-right .mid-right-content .right-content{
display: flex;
flex-direction: column;
}

#footer .footer-content .mid-right .mid-right-content .right-content a{
color: #6d6161;
text-decoration: none;
font-size: 1.1rem;
}

#footer .footer-content .mid-right .mid-right-content .right-content a:hover{
color: white
}

#footer .footer-content .right{

display: flex;

flex-direction: column;

justify-content: center;

/* align-items: center; */

width: 14rem;
}

#footer .footer-content .right h2{

color: white;

font-size: 1.3rem;

/* display: block; */

padding: top;

padding-top: 5.8rem;
}

#footer .footer-content .right p{

color: #6d6161;

text-align: justify;

padding-top: 19px;
}

#footer .footer-content .right .footer-icons{
width: 4rem;
}

#footer .footer-content .right .footer-icons a i{
font-size: 16px;
width: 32px;
height: 32px;
border: 1px solid #2d2d2d;
border-radius: 50px;
padding: 7px;
margin: 0px 5px;
text-align: center;
color: #696969;

}

#footer h1{
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

